
.chapter-img-touch{
margin-top: 80px;
}
.swiper-container {
  width: 100%;
  height: 180%;
  color: #fff;
  text-align: center;
}
.black-slide {
  background: #000;
}
.white-slide {
  background: #fff;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.chapter-pagination {
  position: absolute;
  z-index: 20;
  right: 10px;
  top: 65px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}